::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder ,:-ms-input-placeholder,::-ms-input-placeholder,::placeholder {
    color: #ddd!important;
    font-size: 11px;
}
 
#asterikSpan{
	padding-left:4px;
	color: rgba(0,0,0,0.38);

} 

.md-autocomplete-suggestions li {
    /* font-size: 14px; */
    overflow: hidden;
    padding: 0 15px;
    line-height: 25px;
    height: 25px !important;
    -webkit-transition: background .15s linear;
    transition: background .15s linear;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}


md-virtual-repeat-container {
    min-width: 340px !important;
}
md-radio-group {
    padding-left: 90px;
    
    }
md-icon svg {
    height: 55%;    
    padding-top: 5px;
}

label#requestforLbl {
    padding-bottom: 8px;
}

label.required:after      
{
  content:"*";  
  padding-left: 4px;
}
 
label {
    color: rgba(0,0,0,0.38);
}
md-contact-chips.readonly md-chips-wrap {
  cursor: default;
}
.md-contact-suggestion .md-contact-name {
    margin-left: 8px;
    width: 100%;
}
span.md-contact-email.ng-binding {
    display: none;
}

md-contact-chips.readonly button.md-chip-remove {
    display: none;
  }

md-contact-chips.readonly .md-chip-input-container md-autocomplete {
    display: none;
    cursor: default;
  }
    div.width-90 {
    margin-top: 30px;
    margin-bottom: 40px;
}
md-radio-button.md-primary {
    background: none!important;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
}
md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-group:not([disabled]) .md-primary .md-on, md-radio-group.md-default-theme:not([disabled]).md-primary .md-on, md-radio-group:not([disabled]).md-primary .md-on, md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-button:not([disabled]) .md-primary .md-on, md-radio-button.md-default-theme:not([disabled]).md-primary .md-on, md-radio-button:not([disabled]).md-primary .md-on {
    background-color: rgb(117, 117, 117);
}
.md-chip-input-container.ng-scope {
    margin: 0px;
    max-height: 36px;
}
/* People Picker Modifications */
div#strk .sp-peoplepicker-autoFillContainer{
	z-index: 20;
	background-color:#fff;
}
div#strk .sp-peoplepicker-topLevel{
	background-color:#fff;
}
div#strk .sp-peoplepicker-topLevel{
	min-height:34px;
}
.md-chip-content div {
    float: left;
color:#fff;
}
button.md-primary.rchip.ng-scope {
    width: auto;
    min-width: auto;
    height: auto;
    min-height: auto;
    padding: 6px 10px;
    border: none;
    margin: 0px;
    background-color: transparent!important;
	color:#fff;
}
md-input-container.ng-scope {
    vertical-align: top;
    margin-top: 5px;
}


md-input-container.category {
        margin-top: 45px !important;
  }
  
  
.layout-row>.flex-33, .layout-row>.flex-66 {    
    padding-left: 8px;
}
