.paraHeading {
        padding-left: 20px;
        font-size: 20px;
    }

    th.sorting {
        border-left: 1px solid #dddddd;
    }

    .paraNewRequest {
        text-align: right;
        padding-right: 13px
    }

    #myRequestsDetailsDiv {
        display: inline-block;
        width: 75%;
        margin-left: 13%; 
        padding-bottom: 12px;
        margin-bottom: 36px;
   }

    .myRequestLeftAlignment {
        float: left;
        width: 50%;
    }

    .myRequestRightAlignment {
        float: right;
        width: 50%;
    }
    .rowCSS {
        width: 100%;
        padding-left: 23%;
    }
    .columnCSS {
        width: 100%;
        padding-bottom: 10px;
    }
    .rowCSS span {
        margin-bottom: 10px;
        
    }
    #paraMyRequest {
        font-size: 22px;
        padding-left: 38%;
    }
    
    #divMyRequests h3{
	   position: absolute;
    }
    
    div#idMyRequests_wrapper tr td:first-child,div#idpendingApprovals_wrapper tr td:first-child{
        border-left: none;
    }
    
    
}